<h1>Liste transactions</h1>
<br />

<button
  class="btn btn-primary"
  class="btn btn-primary"
  style="margin-right: 20px"
  (click)="afficherExo1()"
>
  Exo 1
</button>
<button class="btn btn-primary" (click)="afficherExo2()">Exo 2</button>
<br />
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Label</th>
      <th>Date</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.balance }}</td>
      <td>{{ transaction.label }}</td>
      <td>{{ transaction.date }}</td>
      <td>
        <button (click)="afficherDetails(transaction.id)">Details</button>
      </td>
    </tr>
  </tbody>
</table>
