<!-- exo1.component.html -->
<h1>Affichage</h1>
<br />
<div class="input-group-text">
  <label for="name">Entrez votre nom :</label>
  <input
    class="form-control"
    type="text"
    id="name"
    [(ngModel)]="userName"
    name="name"
  />
</div>

<div class="input-group-text">
  <label for="font">Choisissez la police de caractère :</label>
  <select id="font" [(ngModel)]="selectedFont" name="font">
    <option *ngFor="let font of fonts" [value]="font">{{ font }}</option>
  </select>
</div>

<div class="input-group-text">
  <label for="size">Choisissez la taille :</label>
  <input
    class="form-control"
    type="number"
    id="size"
    [(ngModel)]="fontSize"
    name="size"
  />
</div>

<div class="input-group-text">
  <label>Choisissez l'alignement :</label>
  <div>
    <input
      class="form-check-input"
      type="checkbox"
      id="left"
      [(ngModel)]="alignLeft"
      name="alignLeft"
      (ngModelChange)="generateMessage()"
    />
    <label for="left">Gauche</label>
  </div>
  <div>
    <input
      class="form-check-input"
      type="checkbox"
      id="center"
      [(ngModel)]="alignCenter"
      name="alignCenter"
      (ngModelChange)="generateMessage()"
    />
    <label for="center">Centré</label>
  </div>
  <div>
    <input
      class="form-check-input"
      type="checkbox"
      id="right"
      [(ngModel)]="alignRight"
      name="alignRight"
      (ngModelChange)="generateMessage()"
    />
    <label for="right">Droite</label>
  </div>
</div>
<br />

<div [ngStyle]="generateMessageStyles()">
  <p>{{ generateMessage() }}</p>
</div>

<br />

<button
  class="btn btn-primary"
  style="margin-right: 20px"
  (click)="afficherExo2()"
>
  Exo 2
</button>

<button class="btn btn-primary" (click)="afficherExo3()">Exo 3</button>
